.flashcard {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   transition-duration: 0.4s;
   transition-property: scale, opacity;
   height: 64vh;
   max-height: 400px;
   scale: 0.94;
   opacity: 0.9;
   cursor: pointer;
   overflow: hidden;
   border-radius: 10px;
   @media (max-width: 600px) {
      & {
         max-height: 70vh;
         height: 80vh;
         min-height: 400px;
      }
   }
}

.flashcardInner {
   font-size: 48px;
   height: 100%;
   background-color: var(--main-bg-color);
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   text-align: center;
   color: white;
   width: 100%;
   position: relative;
   transform-style: preserve-3d;
   transition: transform 0.4s;
   &.flipped {
      transform: rotateY(180deg);
   }
}

.cardFront,
.cardBack {
   border-radius: 10px;
   position: absolute;
   width: 100%;
   height: 100%;
   backface-visibility: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   padding: 20px 5%;
   font-size: 35px;
   gap: 5%;
   h4 {
      padding: 5px 15px;
      width: 90%;
      max-height: 100%;
      overflow-y: auto;
      text-wrap: wrap;
      max-width: 100%;
      font-size: inherit;
      color: inherit;
      word-break: break-all;
   }

   @media (max-width: 600px) {
      & {
         font-size: 25px;
         .tipCard {
            h4 {
               font-size: 20px;
            }
         }
      }
   }

   @media (max-width: 450px) {
      & {
         font-size: 22px;
      }
   }

   @media (hover: hover) {
      ::-webkit-scrollbar-thumb {
         background-color: var(--main-bg-color);
         border-radius: 5px;
         width: 10px;
         border: 2px solid transparent;
         background-clip: content-box;
         background-color: var(--main-bg-color);
      }

      ::-webkit-scrollbar-track {
         background-color: var(--main-text-color);
         width: 8px;
         border: 1px solid white;
         border-radius: 5px;
      }

      ::-webkit-scrollbar {
         width: 10px;
      }
   }
}

.cardFront {
   display: flex;
   justify-content: space-around;
   align-items: center;
   align-content: center;
   gap: 10%;
   .tipCard {
      background-color: var(--main-text-color);
   }
   ::-webkit-scrollbar-thumb {
      background-color: white;
   }
   ::-webkit-scrollbar-track {
      background-color: var(--main-bg-color);
   }
}

.cardBack {
   background-color: var(--main-text-color);
   transform: rotateY(180deg);
   flex-direction: row-reverse;
   padding: 40px 5%;

   > img {
      width: auto;
      max-width: 50%;
      max-height: 320px;
      border-radius: 10px;
   }

   > .meaning {
      overflow-y: auto;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      width: 100%;
      font-size: inherit;
      color: inherit;
      line-height: 1.5;
      > h4 {
         width: 95%;
         overflow: visible;
      }
      &:nth-child(2) {
         width: 50%;
         > h4 {
            text-align: right;
            width: fit-content;
         }
         @media (max-width: 600px) {
            & {
               width: 100%;
               display: flex;
               flex-direction: column;
               > h4 {
                  text-align: center;
                  width: 100%;
               }
            }
         }
      }
   }

   .tipCard {
      opacity: 0.7;
      padding: 3px 10px;
      background-color: var(--main-bg-color);
      transition: opacity 0.2s;
      @media (hover: hover) {
         &:hover {
            opacity: 1;
         }
      }
   }

   @media (max-width: 600px) {
      & {
         display: flex;
         flex-direction: column;
         gap: 10px;
         padding: 40px 8px 15px;
      }
   }
}

.favorite {
   position: absolute;
   top: 10px;
   right: 10px;
   width: 30px;
   height: 30px;

   &.added {
      svg {
         stroke: white;
         fill: white;
      }
   }

   svg {
      stroke: white;
      fill: var(--main-text-color);
      transition-duration: 0.2s;
      transition-property: filter, fill;
      @media (hover: hover) {
         &:hover {
            -webkit-filter: drop-shadow(0px 0px 2px white);
            filter: drop-shadow(0px 0px 2px white);
         }
      }
   }

   @media (max-width: 480px) {
      width: 25px;
      height: 25px;
   }
}

.tipCard {
   position: absolute;
   bottom: 0;
   right: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   gap: 20px;
   width: 100%;
   overflow: hidden;
   padding: 10px;

   h4 {
      font-size: 24px;
      color: white;
      word-break: normal;
      width: auto;
   }

   img {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-40%);
      width: 20px;
      min-width: 20px;
      height: auto;
   }
}
