.wordCard {
   --desc-height: 40px;
   display: flex;
   max-width: 200px;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   align-content: center;
   border: 1px solid black;
   border-radius: 5px;
   transition: box-shadow 0.2s;
   overflow: hidden;
   position: relative;
   min-height: 50px;
   cursor: pointer;

   &::after {
      z-index: 0;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: block;
      background: linear-gradient(transparent 0%, #ffffff 99%);
      height: 70%;
      height: calc(100% - var(--desc-height));
   }

   .wordsImg {
      min-height: 60px;
      width: 100%;
      margin-bottom: var(--desc-height);
   }

   .wordDescription {
      padding: 5px 10px 10px;
      position: relative;
      z-index: 1;
      width: 100%;
      &:nth-child(2) {
         position: absolute;
         bottom: 0;
         left: 0;
         word-break: break-all;
         padding-top: 0;
         &.bigDescription {
            position: relative;

            &::before {
               content: "";
               position: absolute;
               top: -100%;
               left: 0;
               display: block;
               background: linear-gradient(transparent 20%, #ffffff 100%);
               height: 100%;
               width: 100%;
            }
         }
      }
   }

   .word {
      font-size: 24px;
      word-break: break-all;
   }

   .meaning {
      word-break: break-all;
   }

   @media (hover: hover) {
      &:hover {
         box-shadow: 0 0 5px rgb(72, 72, 72);
      }
   }

   .editBtn {
      position: absolute;
      bottom: 1px;
      right: 5px;
      z-index: 2;
      background-color: white;
      padding: 4px;
      border-radius: 100%;
      opacity: 90%;
   }
}
