.flashcardsScreen {
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   flex-direction: column;
   width: 100%;
   height: 100%;
   padding: 0 30px 30px;
   gap: 20px;
}

.flashcards {
   max-width: 1000px;
   width: 100%;
   height: 100%;
   margin: auto;
   cursor: grab;
}

@media (max-width: 600px) {
   .flashcardsScreen {
      padding: 0;
   }
}
