.writingScreen {
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   width: 100%;
   height: 100%;
   flex-direction: column;
   text-align: center;

   form {
      margin-top: 13px;
      width: 100%;
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-direction: column;
      button {
         width: 100%;
         @media (max-width: 400px) {
            & {
               font-size: 15px;
            }
         }
      }
   }
   .writingDialog {
      max-width: 50vw;
      width: 100%;
      min-width: 40vw;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      gap: 15px;
      flex-direction: column;
      h3 {
         font-size: 20px;
         color: var(--main-red-color);
         margin-bottom: 20px;
         span {
            color: inherit;
            font-size: inherit;
         }
      }
      button {
         width: 100%;
      }
      @media (max-width: 400px) {
         & {
            width: 80vw;
            max-width: 80vw;
         }
         h3 {
            font-size: 17px;
         }
         button {
            font-size: 18px;
         }
         p {
            font-size: 17px;
         }
      }
   }
}
