.sectionName {
   display: flex;
   justify-content: space-between;
   align-items: center;
   align-content: center;
   > span {
      font-weight: 300;
   }
   > button {
      font-weight: 300;
      padding: 4px 18px 5px;
      border-radius: 10px;
      font-size: 14px;
   }
}

.cards {
   margin-top: 40px;
   display: flex;
   flex-wrap: wrap;
   gap: 15px;
}

.floatBtn {
   position: fixed;
   z-index: 7;
   bottom: 20px;
   right: 20px;
   width: 50px;
   height: 50px;
   aspect-ratio: 1/1;
   background-color: var(--main-bg-color);
   border-radius: 50%;
   box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.25);
   transition-duration: 0.2s;
   transition-property: filter, box-shadow, scale;
   > img {
      margin: auto;
      height: 25px;
      width: 25px;
   }

   @media (hover: hover) {
      &:hover {
         box-shadow: 0 0 17px 5px rgba(0, 0, 0, 0.25);
         filter: brightness(1.2);
         scale: 1.02;
      }
   }
}

//Dialogs =====>
.addSectionBlock {
   padding: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   text-align: center;
   flex-direction: column;
   gap: 20px;
   max-width: 700px;
   h3 {
      color: var(--main-bg-color);
      font-size: 24px;
   }

   .addSectionForm {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-direction: column;
      gap: 6px;
      min-width: 200px;
      min-width: min(680px, 40vw);
      .selectImg {
         width: 150px;
         margin-bottom: 10px;
         .sliderElement {
            width: 60px;
            height: 60px;
            img {
               margin: auto;
               width: 60px;
               height: auto;
            }
         }
      }
      > button {
         width: 100%;
         &.delteBtn {
            background-color: var(--main-red-color);
            @media (hover: hover) {
               &:hover {
                  filter: brightness(1.1);
               }
            }
         }
      }
   }
}

.dialogFilter {
   width: 40vw;
   min-width: 200px;
   max-width: 400px;

   svg {
      width: 20px;
   }
   > button {
      margin-top: 20px;
      width: 100%;
   }
}

// Media Requests
@media (max-width: 720px) {
   .dialogFilter {
      width: 70vw;
      min-width: 200px;
      max-width: 400px;
   }
}

@media (max-width: 600px) {
   .addSectionBlock .addSectionForm {
      min-width: 80vw;
      max-width: 100vw;
   }
}

@media (max-width: 460px) {
   .cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      margin: 40px 0;
   }
}

@media (max-width: 340px) {
   .cards {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
   }

   .addSectionBlock {
      padding: 0;
      .addSectionForm {
         max-width: 100%;
         .selectImg {
            width: 70px;
            .sliderElement {
               width: 40px;
               height: 40px;
               img {
                  width: 30px;
               }
            }
         }
      }
   }

   .dialogFilter {
      width: 80vw;
      min-width: auto;
      max-width: 100%;
   }
}

@media (max-width: 250px) {
   .addSectionBlock {
      padding: 0;
      .addSectionForm {
         min-width: 100%;
         max-width: 70vw;
      }
   }
}
