.card {
   width: 120px;
   height: 120px;
   box-shadow: 3px 3px 10px 0 rgba(1, 25, 54, 0.25);
   background: #fff;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   align-content: center;
   gap: 10px;
   padding: 34px 10px 10px;
   position: relative;
   transition-property: box-shadow, filter, scale;
   transition-duration: 0.2s;
   cursor: pointer;
   > .sectionImg {
      width: 30px;
   }
   > .sectionName {
      width: 100%;
      color: var(--main-bg-color);
      text-align: center;
      overflow: hidden;
      font-size: 16px;
      bottom: 15px;
      font-weight: 400;
      text-wrap: nowrap;
      text-overflow: ellipsis;
      max-width: 90vw;
   }

   .editBtn {
      width: 18px;
      position: absolute;
      right: 8px;
      top: 8px;
      transition: scale 0.2s;
      @media (hover: hover) {
         &:hover {
            scale: 1.15;
         }
      }
   }

   @media (hover: hover) {
      &:hover {
         box-shadow: 5px 5px 15px 0 rgba(1, 25, 54, 0.25);
         filter: brightness(0.99);
         scale: 1.01;
      }
   }
}

@media (max-width: 460px) {
   .card {
      width: 100%;
   }
}

@media (max-width: 340px) {
   .card {
      width: 100%;
      > .sectionName {
         width: 50vw;
         text-overflow: ellipsis;
      }
   }
}
