.combiningScreen {
   margin: auto;
   display: grid;
   grid-template-columns: 1fr 1fr;
   justify-content: center;
   align-items: start;
   align-content: center;
   justify-items: center;
   width: 100%;
   max-width: 1000px;
   gap: 5%;

   .leftSide,
   .rightSide {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      flex-direction: column;
      width: 100%;
      max-width: 100%;
      gap: 10px;
   }

   .leftSide {
      .oneBlock {
         background-color: var(--main-text-color);
      }
   }

   .rightSide {
      .oneBlock {
         background-color: var(--main-contrast-color);
      }
   }

   .oneBlock {
      padding: 10px 12px;
      min-height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      width: 100%;
      text-align: center;
      color: white;
      cursor: pointer;
      border-radius: 6px;
      max-width: 100%;
      word-break: break-all;
      white-space: wrap;
      &.selectedElement {
         filter: brightness(1.5);
         box-shadow: 0 0 7px black;
      }
   }

   @media (max-width: 480px) {
      & {
         gap: 10px;
      }

      .leftSide,
      .rightSide {
         gap: 7px;
      }

      .oneBlock {
         padding: 8px 10px;
         font-size: 15px;
      }
   }

   @media (max-width: 340px) {
      & {
         gap: 6px;
      }

      .leftSide,
      .rightSide {
         gap: 5px;
      }

      .oneBlock {
         padding: 6px 7px;
         font-size: 13px;
         min-height: 50px;
      }
   }
}
